<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServicioArchivos" />
                <binding name="WSHttpBinding_IServicioConciliacion" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:4321/ServicioArchivos" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IServicioArchivos" contract="ServicioArchivos.IServicioArchivos"
                name="WSHttpBinding_IServicioArchivos">
                <identity>
                    <userPrincipalName value="INFRAGISTICS\AMilieris" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:4322/servicioConciliacion"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServicioConciliacion"
                contract="ServicioConciliacion.IServicioConciliacion" name="WSHttpBinding_IServicioConciliacion">
                <identity>
                    <userPrincipalName value="INFRAGISTICS\AMilieris" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>